In [3]:
import pandas as pd

## Segmentación de clientes

## Canasta de mercado

Se busca con esta herramientas encontrar aquellos productos que se venden juntos en los distintos locales

In [8]:
data = pd.read_csv("./dataset/coffee-shop-sales-revenue.csv", delimiter='|')
data.head()

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail
0,1,2023-01-01,07:06:11,2,5,Lower Manhattan,32,3.0,Coffee,Gourmet brewed coffee,Ethiopia Rg
1,2,2023-01-01,07:08:56,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg
2,3,2023-01-01,07:14:04,2,5,Lower Manhattan,59,4.5,Drinking Chocolate,Hot chocolate,Dark chocolate Lg
3,4,2023-01-01,07:20:24,1,5,Lower Manhattan,22,2.0,Coffee,Drip coffee,Our Old Time Diner Blend Sm
4,5,2023-01-01,07:22:41,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg

In [9]:
data['datetime'] = pd.to_datetime(df['transaction_date'] + ' ' + df['transaction_time'])
data_filtered = data[data.duplicated('datetime'

SyntaxError: unterminated string literal (detected at line 2) (135365181.py, line 2)

## Arbol de decisión