In [31]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

import matplotlib.pyplot as plt
import mlxtend.frequent_patterns
import mlxtend.preprocessing
import numpy

## Segmentaci√≥n de clientes

## Canasta de mercado

Se busca con esta herramientas encontrar aquellos productos que se venden juntos en los distintos locales

In [5]:
data = pd.read_csv("./dataset/coffee-shop-sales-revenue.csv", delimiter='|')
data.head()

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail
0,1,2023-01-01,07:06:11,2,5,Lower Manhattan,32,3.0,Coffee,Gourmet brewed coffee,Ethiopia Rg
1,2,2023-01-01,07:08:56,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg
2,3,2023-01-01,07:14:04,2,5,Lower Manhattan,59,4.5,Drinking Chocolate,Hot chocolate,Dark chocolate Lg
3,4,2023-01-01,07:20:24,1,5,Lower Manhattan,22,2.0,Coffee,Drip coffee,Our Old Time Diner Blend Sm
4,5,2023-01-01,07:22:41,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg

In [ ]:
# Obtengo las ubicaciones de los locales
locales = data.drop_duplicates(subset=['store_location'])['store_location']
print(locales)

In [160]:
# Extraigo las transacciones por locales
datos_por_local = []
for local in locales:
    ventas = data[data['store_location'] == local][['datetime', 'product_type']]
    datos_por_local.append(ventas)

In [178]:
# Extraigo los tipos de productos que se vendieron en el local
tmpVentas = datos_por_local[0]
productos = pd.DataFrame(datos_por_local[0]).drop_duplicates('product_type')['product_type'].tolist()
productos.insert(0, 'datetime')

In [179]:
# Convierto los productos en columnas
MBA_data = pd.DataFrame([productos])
MBA_data.columns = productos
MBA_data.head()

,datetime,Gourmet brewed coffee,Brewed Chai tea,Hot chocolate,Drip coffee,Scone,Barista Espresso,Brewed Black tea,Brewed Green tea,Biscotti,...,Premium Beans,Green beans,Espresso Beans,Housewares,Green tea,Black tea,Clothing,Organic Chocolate,Chai tea,House blend Beans
0,datetime,Gourmet brewed coffee,Brewed Chai tea,Hot chocolate,Drip coffee,Scone,Barista Espresso,Brewed Black tea,Brewed Green tea,Biscotti,...,Premium Beans,Green beans,Espresso Beans,Housewares,Green tea,Black tea,Clothing,Organic Chocolate,Chai tea,House blend Beans

In [180]:
# NO EJECUTAR A MENOS QUE SEA NECESARIO
# Construyo la matriz en base a productos comprados por fecha
tmpVentas.head()

for index, row in tmpVentas.iterrows():
    fila = []
    fila.append(row['datetime'])
    #print(row['product_type'])
    for col in MBA_data.iloc[:, 1:]:
        if row['product_type'] == col:
            fila.append(1)
        else:
            fila.append(0)
    MBA_data.loc[len(MBA_data)] = fila
    
MBA_data = MBA_data.iloc[1:].reset_index(drop=True)
print(len(tmpVentas))
print(len(MBA_data))

47782
47782

## Arbol de decisi√≥n